* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: lightblue;
}

h2 {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 1em;
  color:black;
}

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

a {
  color:black;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a:hover {
  color: #444;
}